/* Allgemeine Einstellungen */
* {
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Header */
header > img {
  width: 100dvw;
  height: 500px;
  object-fit: cover;
}

h1 {
  font-family: "Palanquin Dark";
  font-size: 48px;
  font-weight: 700;
}

h1 > span {
  color: var(--main_color);
}

h2 {
  font-family: "Palanquin";
  font-size: 24px;
  font-weight: 700;
}

/* Main */
main > div > div {
  display: flex;
  position: sticky;
  top: 0px;
}

h3 {
  font-family: "Palanquin";
  font-size: 40px;
  font-weight: 700;
  color: white;
}

h4 {
  font-family: "Palanquin";
  font-size: 24px;
  font-weight: 600;
}

button {
  padding: 0px 8px;
  font-family: "Palanquin";
  font-weight: 600;
  border: none;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 430px;
  height: 814px;
  background-color: var(--bg_basket);
}

aside > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  padding: 60px 32px;
}

h5 {
  display: flex;
  justify-content: center;
  font-family: "Palanquin";
  font-size: 32px;
  font-weight: 700;
  color: var(--bg_dishes);
}

dialog {
  margin: auto;
  padding: 40px 48px;
  border: none;
  border-radius: 30px;
  background-color: var(--bg_basket);
  color: white;
}

dialog > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

dialog p {
  font-family: "Palanquin";
  font-size: 29px;
  font-weight: 700;
}

dialog::backdrop {
  background-color: rgba(1, 1, 1, 0.25);
  backdrop-filter: blur(4px);
}

h6 {
  font-family: "Palanquin";
  font-size: 42px;
  font-weight: 700;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
  padding-top: 72px;
  padding-bottom: 32px;
  background-color: var(--main_color);
}

footer > div {
  display: flex;
  gap: 8px;
}

footer p {
  font-family: "Palanquin";
  font-size: 18px;
  color: white;
}
