/* Header */
.menu_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px max(calc(50% - 720px), 80px);
  background-color: var(--main_color);
}

.restaurant_icon {
  display: flex;
  justify-content: center;
  height: 100px;
}

.restaurant_symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -125px;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  background-color: var(--bg_dishes);
}

.restaurant_symbol > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.restaurant_name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.restaurant_rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--bg_dishes);
}

.rating {
  font-family: "Palanquin Dark", sans-serif;
  font-size: 20px;
}

.users {
  font-family: "Palanquin", sans-serif;
  font-size: 18px;
}

.subtitle {
  display: flex;
  justify-content: center;
}

/* Main */
.main_menu_style {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
}

.empty_basket {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 69px;
}

.empty_basket > p {
  text-align: center;
  font-family: "Palanquin";
  font-size: 24px;
  font-weight: 500;
  color: var(--bg_dishes);
}

.empty_basket > img {
  width: 150px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 60px;
  padding: 0px max(calc(50% - 720px), 120px);
}

.category {
  display: flex;
  align-items: end;
  gap: 28px;
  margin-bottom: 26px;
  padding: 0px max(calc(50% - 720px), 160px);
  height: 60px;
  background-color: var(--main_color);
}

.dish {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 715px;
  border-radius: 12px;
  background-color: var(--bg_dishes);
}

.dish p {
  font-family: "Palanquin";
}

.explanation {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.explanation > img {
  width: 200px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 42ch;
}

.description > p {
  font-weight: 500;
  line-height: 100%;
}

.costs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.costs > p {
  font-size: 24px;
  font-weight: 600;
}

.change_color {
  color: var(--main_color);
}

.ordered_dishes {
  height: 458px;
}

.dish_in_basket {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--bg_dishes);
}

.name_n_amount,
.costs_n_trash {
  font-family: "Palanquin";
  font-size: 22px;
  font-weight: 600;
}

.name_n_amount {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.amount {
  display: flex;
  align-items: flex-end;
  gap: 8;
}

.amount > button {
  padding-bottom: 0px;
  background-color: var(--bg_dishes);
  font-family: "Palanquin";
  font-size: 22px;
  font-weight: 600;
}

.amount > button:hover {
  color: var(--main_color);
}

.costs_n_trash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.costs_n_trash > button {
  background-color: var(--bg_dishes);
  padding-top: 16px;
  padding-bottom: 16px;
}

.basket_lower_part {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-top: 3px solid white;
}

.total_cost {
  display: flex;
  justify-content: space-between;
}

.total_cost > p {
  font-family: "Palanquin";
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.button_buy_order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 64px;
  border: none;
  border-radius: 60px;
  font-family: "Palanquin";
  font-size: 32px;
  font-weight: 700;
  color: white;
  background-color: var(--main_color);
}

.close {
  border: 1px solid white;
  background-color: var(--bg_basket);
  color: white;
}

.order_received {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
