/* Header */
.menu_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px max(calc(50% - 720px), 80px);
    background-color: var(--main_color);
}

.restaurant_icon {
    display: flex;
    justify-content: center;
    height: 100px;
}

.restaurant_symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -125px;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    background-color: var(--bg_dishes);
}

.restaurant_symbol > img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.restaurant_name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

.restaurant_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--bg_dishes);
}

.rating {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 20px;
}

.users {
    font-family: 'Palanquin', sans-serif;
    font-size: 18px;
}

.subtitle {
    display: flex;
    justify-content: center;
    font-family: 'Palanquin';
    font-size: 24px;
    font-weight: 700;
}

/* Main */